.home-page-dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    box-sizing: border-box;
  }

  .title{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
  }
  .sub-title{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .card-box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    .card-item {
      width: 18%;
      height: 300px;
      border: 1px solid #ccc;
      padding: 10px;
      overflow: hidden;
      img {
        width: 80%;
        margin-left: 10%;
      }
      .name {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }

  .input-box {
    position: relative;
    .color-input-red {
      opacity: 0;
    }
    .color-input-red +label{
      display: block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 2px;
      left: 2px;
      background: #fff;
      border: 2px solid #f0544d;
    }
  
    .color-input-red:checked +label::before{
      display: block;
      content: "\2714";
      text-align: center;
      font-size: 16px;
      color: #f0544d;
      margin-top: -3px;
    }
  }
  .next-box {
    width: 100%;
    text-align: center;
    button {
      width: 500px;
      height: 60px;
      background: #b44747;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 24px;
      border-radius: 30px;
      &:hover {
        background: #a33b3b;
      }
    }
  }
}

.show-home-page-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  opacity: 2;
  overflow: hidden;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}